/* 1.-Lo de siempre*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  color: #333;
  padding: 10px;
}

/* 2.-header */
header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-family: "Courier New", Courier, monospace;
  color: #2e8b57;
  font-size: 3rem;
  margin-bottom: 5px;
}

.subtitulo {
  font-size: 0.9rem;
  font-weight: bold;
  font-style: italic;
}

/* 3.- Maquetmaos todo */
.fila {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
}

/*Fila 1*/
/* La barra nave*/
#barraNav {
  flex: 10%;
  font-size: 0.9rem;
  color: #2e8b57;
  padding-top: 10px;
}

#barraNav li {
  margin-bottom: 15px;
}

#img1 {
  flex: 60%;
}

#img2 {
  flex: 30%;
}

/*Fila 2*/
#fila2 picture {
  flex: 33%;
}

/* 4.-Pictures */
picture.tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
}

img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.pieDeFoto {
  font-family: "Courier New", Courier, monospace;
  color: #2e8b57;
  font-size: 1rem;
  text-align: center;
}

/* 5.-Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  font-size: 1rem;
  color: #555;
}

.footer-col {
  flex: 1;
}
